.detail-page-format .col {
  padding: 0 10px;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  box-sizing: border-box;
}
.detail-page-format .col-1 {
  width: 8.33%;
}
.detail-page-format .col-2 {
  width: 16.66%;
}
.detail-page-format .col-3 {
  width: 25%;
}
.detail-page-format .col-4 {
  width: 33.33%;
}
.detail-page-format .col-5 {
  width: 41.66%;
}
.detail-page-format .col-6 {
  width: 50%;
}
.detail-page-format .col-7 {
  width: 58.33%
}
.detail-page-format .col-8 {
  width: 66.66%;
}
.detail-page-format .col-9 {
  width: 75%;
}
.detail-page-format .col-10 {
  width: 83.33%;
}
.detail-page-format .col-11 {
  width: 91.66%
}
.detail-page-format .col-12 {
  width: 100%;
}
.detail-page-format .row {
  margin-bottom: 10px
}